<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
</head>
<body>
<h1>Add question</h1>
<form action="/add-question" method ="POST" enctype="multipart/form-data">
    <div>
        <label for="question_title">Question Title:</label>
        <br>
        <input type="text" name ="question_title" id ="question_title" required>
    </div>
    <br>
    <div>
        <label for="question_message">Question message:</label>
        <br>
        <textarea name ="question_message" id ="question_message" required></textarea>
    </div>
    <br>
    <div>
        <label for="question_image">Upload image:</label>
        <br>
        <input type="file" name="question-image" id="question_image">
    </div>
    <br>
    <div>
        <button type="submit">Add New Question</button>
    </div>
</form>

</body>
</html>