<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add question</title>

</head>
<body>
	<div>
		<h1>{{ "Add question" if request.path == "/add-question" else "Edit question" }}</h1>
		<form action="{{ "/add-question" if request.path == "/add-question" else "/question/"+question["id"]|string+"/edit" }}"
		      method="POST" enctype="multipart/form-data">
			<div>
				<label for="title">Title<span style="color: red">*</span></label>
				<br>
				<input type="text" name="title" id="title" value="{{ question.setdefault('title','') }}" required>
			</div>
			<br>
			<div>
				<label for="message">Message<span style="color: red">*</span></label>
				<br>
				<textarea name="message" id="message" required>{{ question.setdefault('message','') }}</textarea>
			</div>
			<br>
			<div>
				<label for="image">Upload image:</label>
				<br>
				<input type="file" name="image" id="image">
			</div>
			<br>
			<div>
				<label for="tags">Select tag(s):</label>
				<br>
				<select name="tags" id="tags" multiple>
					{% for tag in all_tags %}
						<option value="{{ tag["id"] }}" {{ "selected" if tag["id"] in ids_of_selected_tags }}>{{ tag["name"] }}</option>
					{% endfor %}
				</select>
			</div>
			<br>
			<div>
				<button type="submit">{{ "Add new question" if request.path == "/add-question" else "Edit question" }}</button>
				<h2><a href='/list'> Back </a></h2>
			</div>
        </form>
    </div>


</body>
</html>
