{% extends "banner.html" %}

{% block content %}

	<div id="content" style="width: 1000px; max-width: 100%; margin: auto;">
		<h2>Bonus Questions:</h2>
		<div style="display: flex; align-items: center; flex-wrap: wrap; justify-content: center;">
			<button class="button button1" id="theme-button" style="margin: 5px">Change Theme to Dark</button>
			<button class="button button1" id="increase-font-button" style="margin: 5px">Increase font</button>
			<button class="button button1" id="decrease-font-button" style="margin: 5px">Decrease font</button>

		<input
				data-table-body="doNotModifyThisId_QuestionsTableBody"
				style="width: 500px; height: 40px; border-color: #02b9b9; border-style: solid; background-color: #cccccc; margin: 5px"
				id="doNotModifyThisId_QuestionsFilter"
				type="text"
				placeholder="Filter questions by keywords">
		</div>
		<table id="table">
			<thead id="doNotModifyThisId_QuestionsTableHeader">
				<tr style="text-align: justify">
					<th style="padding: 5px">Title</th>
					<th style="padding: 5px">Description</th>
					<th style="padding: 5px">Vote Count</th>
					<th style="padding: 5px">View Number</th>
				</tr>
			</thead>
			<tbody id="doNotModifyThisId_QuestionsTableBody">
				{% for question in questions %}
					<tr>
						<td style="padding: 5px">{{ question['title'] }}</td>
						<td style="padding: 5px">{{ question['description'] }}</td>
						<td style="padding: 5px">{{ question['vote_number'] }}</td>
						<td style="padding: 5px">{{ question['view_number'] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/doNotModifyThisFile.js') }}"
		        defer></script>
	</div>
{% endblock %}
