
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New answer</title>

</head>
<body>
	<div>
		<h1>{{ "New answer" if request.path == "/question/" + id|string +"/new-answer" else "Edit answer" }}</h1>
		<form action= "{{ "/question/" +id|string +"/new-answer" if request.path == "/question/" +id|string +"/new-answer" else "/answer/"+answer_id|string +"/edit"}}" method="POST" enctype="multipart/form-data">
			<div>
				<label for="message">{{ "Post answer message" if request.path == "/question/" + id|string +"/new-answer" else "Edit answer message" }}</label>
				<br>
				<textarea name="message" id="message" required>{{ answer.setdefault('message','') }}</textarea>
			</div>
			<br>
			<div>
				<label for="image">Upload image:</label>
				<br>
				<input type="file" name="image" id="image">
			</div>
			<br>
			<div>
				<button type="submit">{{ "Add new answer" if request.path == "/question/" + id|string +"/new-answer" else "Edit answer" }}</button>
			</div>
		</form>
	</div>
</body>
</html>