{% extends "banner.html" %}

{% block content %}
	<div class="container">
		<h2>{{ "New answer" if request.path == "/question/" + id|string +"/new-answer" else "Edit answer" }}</h2>
		<form style="text-align: center" action= "{{ "/question/" +id|string +"/new-answer" if request.path == "/question/" +id|string +"/new-answer" else "/answer/"+answer_id|string +"/edit"}}" method="POST" enctype="multipart/form-data">
			<div>
				<label for="message">{{ "Post answer message" if request.path == "/question/" + id|string +"/new-answer" else "Edit answer message" }}</label>
				<br>
				<textarea  name="message" id="message" required>{{ answer.setdefault('message','') }}</textarea>
			</div>

			<div>
                <input type="file" name="image" id="image" style="display:none">
                <br>
                <label class="button button1" for="image">Upload image</label>
			</div>
			<br>
			<div>
				<button class="button button1" type="submit">{{ "Add new answer" if request.path == "/question/" + id|string +"/new-answer" else "Edit answer" }}</button>
			</div>
		</form>
	</div>

{% include 'footer.html' %}
{% endblock %}