{% extends "banner.html" %}

{% block content %}

    <div class="question-box">
        <h2>{{ question['title'] }}</h2>
        <p> {{ question['message'] }}</p>

        <img class="image" src="{{ question["image"] if question["image"] }}"><br>
        {% for tag in tags %}
            <button>{{ tag["name"] }}</button>
        {% endfor %}
    <div class="right">
        <a style="float: left" href="/question/{{ question['id'] }}/new-answer"><img src="/static/reply.png" width="30" height="30"
                                                                 alt="Reply"></a>
        <a href="{{ url_for("question_vote_up", question_id=question["id"]) }}"><img
                src="/static/like.png" width="30" height="30" alt="Like"></a>
        <a href="{{ url_for("question_vote_down", question_id=question["id"]) }}"><img
                src="/static/dislike.png" width="30" height="30" alt="Dislike"></a>
        <a href="/question/{{ question['id'] }}/edit"><img src="/static/edit.png" width="30" height="30" alt="Edit"></a>
        <a href="/question/{{ question['id'] }}/delete"><img src="/static/delete.png" width="30" height="30"
                                                             alt="Delete"></a>
        <p class="comment-info">Vote: {{ question['vote_count'] }} | {{ question['submission_time'] }}</p>
    </div>
    </div>
    <h2>Comments</h2>
    {% for answer in answers %}
        <div class="comment-box">
            <div class="comment">
                <div class="comment-info">
                    <p>Votes: {{ answer.vote_count }} • {{ answer.submission_time }}</p>
                </div>
                <p><strong> Answer {{ loop.index }}:</strong></p>
                <div class="comment-body">
                    <p>{{ answer['message'] }}</p>
                </div>

                <img class="image" src="{{ answer["image"] if answer["image"] }}">
                <div class="right">
                    <a style="float: left" href="/answer/{{ answer['id'] }}/edit"><img src="/static/reply.png" width="30" height="30"
                                                                   alt="Reply"></a>
                    <a href="{{ url_for("answer_vote_up", answer_id=answer["id"], question_id=answer["question_id"]) }}"><img
                        src="/static/like.png" width="30" height="30" alt="Like"></a>
                    <a href="{{ url_for("answer_vote_down", answer_id=answer["id"], question_id=answer["question_id"]) }}"><img
                        src="/static/dislike.png" width="30" height="30" alt="Dislike"></a>
                    <a href="/answer/{{ answer['id'] }}/new-comment"><img src="/static/edit.png" width="30" height="30"
                                                                          alt="Edit"></a>
                    <a href="/answer/{{ answer['id'] }}/delete"><img src="/static/delete.png" width="30" height="30"
                                                                     alt="Delete"></a>
                </div>

                <hr>

            </div>

            <div style="margin-left: 80px">
                {% for comment in comments %}
                    {% if comment.parent_comment_id == None and comment.answer_id == answer['id'] %}
                        <p style="text-align: left">Reply:
                            <span style="float: right">{{ comment.submission_time }}</span></p>
                        <p>{{ comment.message }}</p><br>
                        Edited: {{ comment.edit_count }} times <br>
                        <a href="/answer/{{ answer['id'] }}/{{ answer['id'] }}"><img src="/static/reply.png" width="20"
                                                                                     height="20" alt="Reply"></a>
                        <hr>
                    {% elif comment.parent_comment_id != None and comment.answer_id == answer['id'] %}
                        <div style="margin-left: 80px">
                            <p style="text-align: left">Reply:
                                <span style="float: right">{{ comment.submission_time }}</span></p>
                            <p>{{ comment.message }}</p><br>
                            Edited: {{ comment.edit_count }} times <br>
                            <a href="/answer/{{ answer['id'] }}/{{ comment.parent_comment_id }}"><img
                                    src="/static/reply.png" width="20" height="20" alt="Reply"></a>
                            <hr>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>

    {% endfor %}


    <a href='/list'> Back </a>


{% endblock %}
