<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<h1> Question number: {{ question['id'] }}</h1>
<h2> Question title: {{ question['title'] }} </h2>
<h3> Question message: {{ question['message'] }}</h3>
<h3> Answer message: {{ answer['message'] }}
    <a href="{{ url_for("answer_vote_up", answer_id=answer["id"], question_id=answer["question_id"]) }}"><img src="/static/like.png" width="30" height="30" alt="Like"></a>
    <a href="{{ url_for("answer_vote_down", answer_id=answer["id"], question_id=answer["question_id"]) }}"><img src="/static/dislike.png" width="30" height="30" alt="Dislike"></a></h3>
<h2> <a href="/question/{{ question['id']}}/new-answer">Add a new answer! </a>
</body>
</html>